[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
torch = "*"
torchtext = {path = "./.wheels/torchtext-0.12.0a0+2683aa8-cp39-cp39-macosx_12_0_universal2.whl"}
pandas = "*"
tensorboard = "*"

[dev-packages]

[requires]
python_version = "3.9"
